<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Docz</title>
    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- styles -->
    <!--    JS    -->
    <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
    <script src="http://localhost:3000/te.js"></script>
    <script src="http://localhost:3000/m.js"></script>
    <!--    CSS    -->
    <link href="http://localhost:3000/foundation.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.1.1/css/normalize.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:300|Josefin+Slab:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://localhost:3000/te.css">
    <link rel="stylesheet" href="http://localhost:3000/main.css">

</head>